  <div class="field">
    <%= f.label :description, "Description:" %><br />
    <%= f.text_field :description %>
  </div> 

   <div class="field">
    <%= f.label :day_of_mounth, "Day of month:" %><br />
    <%= f.text_field :day_of_mounth %>
  </div> 

   <div class="field">
    <%= f.label :start_date, "Start date:" %><br />
    <%= f.text_field :start_date, :class => "datepicker" %>
  </div>

  <div class="field">
    <%= f.label :end_date, "End date:" %><br />
    <%= f.text_field :end_date %>
  </div>  

  <div class="field">
    <%= f.label :day1, "Mounday:" %><br />
    <%= f.check_box :day1 %>
  </div> 

<div class="field">
    <%= f.label :day2, "Tuesday:" %><br />
    <%= f.check_box :day2 %>
  </div> 

<div class="field">
    <%= f.label :day3, "Wednesday:" %><br />
    <%= f.check_box :day3 %>
  </div> 

  <div class="field">
    <%= f.label :day4, ":Thursday" %><br />
    <%= f.check_box :day4 %>
  </div> 

  <div class="field">
    <%= f.label :day5, "Friday:" %><br />
    <%= f.check_box :day5 %>
  </div> 

  <div class="field">
    <%= f.label :day6, "Saturday:" %><br />
    <%= f.check_box :day6 %>
  </div> 

  <div class="field">
    <%= f.label :day7, "Sunday:" %><br />
    <%= f.check_box :day7 %>
  </div> 

